################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaskManagement.API/bin/Debug/net10.0
/TaskManagement.API/obj
/TaskManagement.Application/bin/Debug/net10.0
/TaskManagement.Application/obj
/TaskManagement.Domain/bin/Debug/net10.0
/TaskManagement.Domain/obj
/TaskManagement.Infrastructure/bin/Debug/net10.0
/TaskManagement.Infrastructure/obj
/TaskManagement.Persistence/obj
/TaskManagement.API/logs
/src/TaskManagement.API/bin/Debug/net10.0
/src/TaskManagement.API/logs
/src/TaskManagement.API/obj
/src/TaskManagement.Application/bin/Debug/net10.0
/src/TaskManagement.Application/obj
/src/TaskManagement.Domain/bin/Debug/net10.0
/src/TaskManagement.Domain/obj
/src/TaskManagement.Infrastructure/bin/Debug/net10.0
/src/TaskManagement.Infrastructure/obj
