<div class="task-shell">
    <div class="task-panel">

        <div class="task-header">
            <div class="brand-badge">TASK</div>
            <h1>
                {{ isEditMode() ? 'Edit Task' : 'Create Task' }}
            </h1>

            <p>
                {{ isEditMode() ? 'Update your task details' : 'Add a new task to your workflow' }}
            </p>
        </div>

        <form class="task-form" [formGroup]="form" (ngSubmit)="submit()">

            <!-- Title -->
            <div class="form-group">
                <label>Title</label>
                <input formControlName="title" placeholder="Enter task title" />

                @if (form.controls.title.touched && form.controls.title.invalid) {
                <small class="error">Title is required</small>
                }
            </div>

            <!-- Description -->
            <div class="form-group">
                <label>Description</label>
                <textarea formControlName="description" placeholder="Optional description"></textarea>
            </div>

            @if (isEditMode()) {
            <div class="form-group status-group">

                <label>Status</label>

                <div class="status-toggle">
                    <span [class.active]="!form.controls.isCompleted.value">
                        Pending
                    </span>

                    <input type="checkbox" formControlName="isCompleted" />

                    <span [class.active]="form.controls.isCompleted.value">
                        Completed
                    </span>
                </div>

            </div>
            }

            <!-- Error -->
            @if (errorMessage()) {
            <div class="error-alert">
                {{ errorMessage() }}
            </div>
            }

            <!-- Actions -->
            <div class="form-actions">
                <button type="button" class="cancel-btn" (click)="goBack()">
                    Cancel
                </button>

                <button type="submit" class="create-btn" [disabled]="loading() || form.invalid">

                    {{ loading()
                    ? (isEditMode() ? 'Updating...' : 'Creating...')
                    : (isEditMode() ? 'Update Task' : 'Create Task')
                    }}

                </button>
            </div>

        </form>

    </div>
</div>